---
import Layout from "../layouts/Layout.astro";
import imgcontent1 from "../assets/img/cineindependiente1.webp";
import imgcontent2 from "../assets/img/cineexperimental1.webp";
import imagecontent3 from "../assets/img/doubsornans1.webp";
import Ticketimage from "../assets/img/ticket.webp";
import Carrousel from "../components/Carrousel.astro";

import Button from "../components/Button.astro";

import Star from "../assets/icons/Star.svg";

import { Picture } from "astro:assets";

const title = "Le Festival";
const description =
  "Le festival Flash Cinéma 25 est un événement cinématographique qui se déroule dans la ville d'Ornans, située dans le département du Doubs. Ce festival se distingue de ces concurrents par son concept dynamique, en mettant à l'honneur les films courts et des courts métrages capturent la rapidité, l'énergie et l'innovation du septième art (Cinéma).";
---

<Layout title={title} description={description}>
  <article class="px-5 lg:text-[18px]">
    <div class="lg:px-15">
      <h1 class="text-[64px] py-2">{title}</h1>
      <Star />
      <p class="p-2">
        Le festival Flash Cinéma 25 est un événement cinématographique qui se
        déroule dans la ville d'Ornans, située dans le département du Doubs. Ce
        festival se distingue de ces concurrents par son concept dynamique, en
        mettant à l'honneur les films courts et des courts métrages capturent la
        rapidité, l'énergie et l'innovation du septième art (Cinéma).
      </p>
    </div>

    <figure class="-mx-5 w-screen">
      <Picture
        class="block w-full h-100 object-cover"
        src={imgcontent1}
        alt="Representation of a cinema festival"
      />
    </figure>

    <div class="lg:px-15">
      <h3 class="pt-15 pb-10">NAISSANCE DU FESTIVAL</h3>
      <div class="*:py-5">
        <p>
          Le Festival Flash Cinéma 25 à Ornans, dans le Doubs, est né d’une idée
          simple : rendre le cinéma accessible à tous, dans un cadre unique et
          convivial. L’histoire commence il y a quelques années, quand un groupe
          d’amis passionnés par le septième art décide de créer un événement
          original, où la créativité et la diversité seraient à l’honneur. Leur
          ambition : offrir un espace où réalisateurs émergents et amateurs
          pourraient partager leurs œuvres sous les étoiles.
        </p>
        <p>
          Pourquoi "Flash" ? Parce que le festival se distingue par la rapidité
          et la spontanéité des créations présentées. Les courts-métrages
          sélectionnés reflètent des visions singulières, des histoires
          racontées en quelques minutes mais avec une intensité qui marque les
          esprits. Le format court permet une plus grande accessibilité pour les
          réalisateurs, tout en captant l’attention d’un public diversifié.
        </p>
        <p>
          Installé dans les magnifiques paysages d’Ornans, ce festival en plein
          air est un véritable appel à la découverte et à l’échange. Chacun,
          qu’il soit cinéphile averti ou simple curieux, est accueilli avec
          chaleur et enthousiasme. Ici, pas de barrière : les projections sont
          gratuites, ouvertes à tous, et visent à créer un espace inclusif où la
          rencontre entre les artistes et le public est favorisée
        </p>
        <p>
          Le Festival Flash Cinéma 25 est rapidement devenu un rendez-vous
          incontournable pour les amateurs de cinéma et les créateurs de tous
          horizons. Dans un esprit festif et participatif, il célèbre la liberté
          d’expression, l’audace et l’imagination. Chaque année, les rues
          d’Ornans vibrent au rythme de ce festival unique, où l’art
          cinématographique prend vie en plein air, sous les yeux émerveillés de
          spectateurs venus partager un moment d’exception
        </p>
      </div>
    </div>

    <figure class="-mx-5 w-screen py-10">
      <Picture
        class="block w-full object-cover h-100"
        src={imgcontent2}
        alt="Representation of a cinema festival"
      />
    </figure>

    <div class="bg-[var(--color-vert)] w-screen -mx-5 p-4 lg:py-5">
      <h1 class="text-[var(--color-violet-obscure)]">
        Un Festival en plein air
      </h1>

      <div class="lg:grid lg:grid-cols-9 lg:gap-5">
        <figure class="lg:col-span-3 lg:col-start-1">
          <Picture
            class="block w-full object-fill lg:col-span-3 lg:col-start-1"
            src={imagecontent3}
            alt="Representation of a cinema festival"
          />
        </figure>

        <div
          class="lg:col-span-6 lg:col-start-4 *:lg:py-3 lg:items-center lg:px-5"
        >
          <h3>ORANS-DOUBS</h3>

          <div class="text-sm font-sans">
            <p>
              Notre festival de cinéma à Orans-Doubs a choisi de s'installer en
              plein air pour vous offrir une expérience cinématographique unique
              et inoubliable, en parfaite harmonie avec notre magnifique région.
            </p>

            <p>
              Le cinéma en plein air est une occasion de partager des moments
              conviviaux entre amis ou en famille. Les spectateurs sont invités
              à apporter leurs couvertures, leurs coussins et leurs pique-niques
              pour se créer un espace cosy et personnalisé.
            </p>
          </div>
          <Button href="#" variant="violet">En savoir plus sur la ville</Button>
        </div>
      </div>
    </div>

    <div class="pt-6 lg:px-15">
      <!-- VALEURS DU FESTIVAL -->
      <section class="mb-10">
        <h1 class="py-10">VALEURS DU FESTIVAL</h1>
        <ul class="*:py-2">
          <li>
            <span class="font-bold">Accesibilité:</span> Des projections gratuites
            et ouvertes à tous, sans barrières, pour démocratiser le cinéma.
          </li>
          <li>
            <span class="font-bold">Crétivité:</span> Un espace qui valorise l'innovation
            et l'originalité dans les œuvres cinématographiques.
          </li>
          <li>
            <span class="font-bold">Diversité:</span> Une plateforme où des visions
            et des talents variés se rencontrent et s'expriment.
          </li>
          <li>
            <span class="font-bold">Partage:</span> Favoriser les échanges entre
            réalisateurs et spectateurs dans une ambiance conviviale et chaleureuse.
          </li>
        </ul>
      </section>

      <!-- THÉMATIQUE -->
      <section class="mb-10">
        <h1 class="pt-10 pb-5">THÉMATIQUE</h1>
        <div class="*:py-3">
          <p>
            L'édition met en lumière l'audace et l'imagination à travers des
            courts-métrages rapides et spontanés. Chaque film reflète des
            histoires intenses et marquantes, célébrant la capacité du cinéma à
            capturer l'essence de la vie en un instant.
          </p>
          <p>
            Dans le cadre pittoresque d'Ornans, cette édition invite à célébrer
            la liberté d'expression et l'art de raconter des histoires, tout en
            rapprochant les amateurs de cinéma et les créateurs du monde entier.
          </p>
        </div>
      </section>

      <!-- ORGANISATEURS -->
      <section class="mb-10">
        <h1 class="pt-10 pb-5">ORGANISATEURS</h1>
        <ul class="*:py-2">
          <li>
            <span class="font-bold">María Lopes</span> - Directrice du festival (Gestion
            générale et partenariats)
          </li>
          <li>
            <span class="font-bold">Jean-Baptiste Durand</span> - Responsable de
            la programmation (Sélection des films et relations avec les réalisateurs)
          </li>
          <li>
            <span class="font-bold">Camilo Veloza</span> - Chargée de communication
            (Réseaux sociaux, presse et promotion)
          </li>
          <li>
            <span class="font-bold">Olivier Petit</span> - Coordinateur logistique
            (Lieux de projection, billetterie, hébergement des invités)
          </li>
          <li>
            <span class="font-bold">Anna Kowaiski</span> - Responsable des événements
            (Masterclasses, conférences et soirées spéciales)
          </li>
        </ul>
      </section>

      <!-- ÉQUIPE TECHNIQUE -->
      <section class="mb-10">
        <h1 class="pt-10 pb-5">ÉQUIPE TECHNIQUE</h1>
        <ul class="*:py-2">
          <li>
            <span class="font-bold">Théo Lambert</span> - Régisseur général (Supervision
            technique de l'événement)
          </li>
          <li>
            <span class="font-bold">Lucie Morel</span> - Ingénieure du son (Installation
            et contrôle des systèmes audio)
          </li>
          <li>
            <span class="font-bold">François Dupont</span> - Projectionniste (Gestion
            des copies numériques et projections en salle)
          </li>
          <li>
            <span class="font-bold">Camille Renaud</span> - Éclairagiste (Mise en
            lumière des espaces et scènes du festival)
          </li>
          <li>
            <span class="font-bold">Bastien Leroy</span> - Technicien audiovisuel
            (Diffusion des films et gestion des pannes techniques)
          </li>
        </ul>
      </section>
    </div>

    <div
      class="flex justify-between items-center bg-[var(--color-violet)] w-screen -mx-5"
    >
      <div class="px-5">
        <h1 class="text-white leading-[30px] py-5 lg:text-[94px] lg:py-15">
          RESERVEZ VOS BILLETS ICI !
        </h1>
        <Button href="/reservation" variant="beige">RECERVEZ ICI</Button>
      </div>
      <figure
        class="flex flex-row-reverse lg:flex lg:flex-row-reverse scale-150 lg:scale-150 mr-10 lg:mr-18"
      >
        <Picture
          class="flex flex-row-reverse"
          src={Ticketimage}
          alt="Representation of a cinema festival"
        />
      </figure>
    </div>
  </article>

  <div>
    <div class="my-10 lg:px-20">
      <h2 class="text-2xl font-bold mb-4">Films en projection</h2>
      <Carrousel />
    </div>
  </div>
</Layout>
