---
import "../styles/global.css";
import Affiche from "../assets/img/affiche.webp";
import AfficheDesktop from "../assets/img/affichedesktop.webp";
import cinemaPleinAir from "../assets/img/cinemaPleinAir.webp";
import Button from "../components/Button.astro";
import Cardprincipal from "../components/Cardprincipal.astro";
import { Picture } from "astro:assets";

import Image from "../assets/img/logofestival.webp"
import Image2 from "../assets/img/fille.webp"
import Image3 from "../assets/img/image.webp"
import Image4 from "../assets/img/image-1.webp"
import Image5 from "../assets/img/image-2.webp"


import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div>
    <div class="bg-[var(--color-beige)] flex justify-center items-center py-10">
      <h1
        class="text-[var(--color-violet-obscure)] lg:text-[74px]/20 text-[54px]/13"
      >
        FESTIVAL FLASH <br />CINÉMA 25
      </h1>
    </div>
    <figure class="w-full">
      <Picture
        class="block w-full object-cover h-150 md:hidden"
        src={Affiche}
        alt="Representation of a cinema festival"
      />
      <Picture
        class="hidden md:block w-full object-cover h-200"
        src={AfficheDesktop}
        alt="Representation of a cinema festival (desktop version)"
      />
    </figure>
  </div>

  <div class="flex flex-col justify-center text-center">
    <p class="text-sm lg:text-xl lg:pt-20 pt-10">Une scène pour le cinèma des court metrages</p>
    <h2 class="text-[var(--color-violet-obscure)] text-4xl/10 lg:text-6xl/10 pb-5 lg:pb-20">
      "LE COURT-MÉTRAGE : DE RACONTER <span class="text-[var(--color-vert)]"
        >GRAND EN PEU</span
      > DE TEMPS."
    </h2>
    <div>
      <Button class="text-center" href="/reservation" variant="violet">RÉSERVEZ VOS TICKETS !</Button>
    </div>
  </div>

  <div class="py-10 px-5 *:py-3 lg:flex lg:flex-col lg:justify-center lg:text-center">
    <h2 class="text-3xl lg:text-4xl">FLASH CINÉMA 25</h2>
    <p class="text-sm lg:text-xl">
      "Laissez-vous emporter par les idées brillantes de créateurs audacieux à
      travers une sélection de courts-métrages. Respirez l'air pur, créez des
      souvenirs et partagezvotre passion du cinéma avec d'autres."
    </p>
  </div>

  <div>
    <figure class="w-full">
      <Picture
        class="block w-full object-cover h-[250px]"
        src={cinemaPleinAir}
        alt="Representation of a cinema festival"
      />
    </figure>
  </div>

  <div class="flex justify-center lg:py-20 py-10">
    <Button href="/festival" variant="violet">EN SAVOIR PLUS</Button>
  </div>

  <div class="bg-[var(--color-beige)] p-6 text-black">
    <h2 class="flex justify-center text-xl lg:text-4xl text-center pb-5">"DECOUVREZ TOUT SUR CINE FLASH 25, A PORTEE DE CLIC! CLIC!"</h2>
    <hr class="border-2 border-[var(--color-violet-obscure)] w-[290px] mx-auto mb-5" />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <Cardprincipal
        image={Image}
        title="Le festival"
        description="Vous souhaitez vous rendre au festival, mais vous n'y connaissez rien et vous voulez y participer ? NE VOUS INQUIÉTEZ PAS ! Découvrez le festival, son emplacement, ses jurys et les collaborateurs qui rendent ce grand événement possible."
        link="/festival"
      />
      <Cardprincipal
        image={Image2}
        title="Programme 2025"
        description="Découvrez le programme de cette première édition du festival flash cinéma 2025, où vous trouverez des aventures passionnantes, des films qui vous feront soupirer d'émotion et bien plus encore. A ne pas manquer !"
        link="/programme"
      />
      <Cardprincipal
      image={Image3}
        title="Les invités"
        description="Découvrez les esprits qui se cachent derrière les critiques de vos films préférés, leurs noms et un peu de leur histoire. Ils s'appuieront sur leur expérience et leur parcours dans l'industrie cinématographique. Une bonne occasion de rencontrer des gens qui ont les mêmes goûts que vous."
        link="/invites"
      />
      <Cardprincipal
      image={Image4}
        title="Reservation"
        description="Ne manquez pas ces films magnifiques, réservez vos billets dès maintenant sur le site officiel du festival et découvrez de nouvelles expériences, des émotions et bien plus encore. Dépêchez-vous, les places s'épuisent rapidement !"
        link="/reservation"
      />
      <Cardprincipal
      image={Image5}
        title="Participer"
        description="Vous voulez montrer au monde ce que vous pouvez faire en peu de temps ? Vous voulez montrer à vos amis que vous pouvez faire beaucoup avec peu ? Vous voulez devenir une star du court métrage ? N'attends plus, inscris-toi à notre festival et fais partie du groupe !"
        link="/participer"
      />
    </div>
  </div>
</Layout>
