---
import { formatDate } from "../js/helpers.js";
const { ...event } = Astro.props;

import ImagePB from "./ImagePB.astro";

// const { id } = Astro.props;
---

<div>
  <div class="p-4">
    <div class="border border-black p-5 lg:grid lg:grid-cols-1 lg:gap-6">
      <div>
        <h1 class="lg:text-[35px] pt-4 pb-6 leading-[35px]">{event.titre_film}</h1>

        <div class="w-fit py-4">
          <span
            class="inline-block bg-[var(--color-violet-obscure)] rounded-3xl px-10 py-1"
          >
            <p class="text-white text-sm font-light">{event.genre_film}</p>
          </span>
        </div>

        <div>
          <ImagePB
            record={event}
            field="img_film"
            alt={event.imgAlt}
            classPicture="duotone col-start-1 row-start-1 col-span-2 row-span-2 group-hover:before:bg-black"
            classImg="group-hover:grayscale-0 group-hover:mix-blend-normal  lg:w-[390px] lg:h-[390px] object-cover pb-6"
          />
        </div>
      </div>

      <div class="flex flex-col justify-between">
        <div>
          <h3 class="py-4">UN FILM DE {event.invite}</h3>
          <p class="pb-4">{event.description_film}</p>
          <p class="font-bold">{event.lieu_film}</p>
        </div>
        <div>
          <h2 class="flex flex-row-reverse py-4 text-[36px]">
            {event.date_film}
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- {events.length > 0 ? (
    events.map(event =>
        <h1 class="">{event.titre_film}</h1>
    )
) : (
    <p class="">Aucun film n'est projeté pour le moment.</p>
)} -->
