---
const { ...invites } = Astro.props;
import ImagePB from "./ImagePB.astro";
---

<div class="lg:flex flex py-6 items-center ">
  <ImagePB
    record={invites}
    field="photo_invite"
    alt={invites.imgAlt}
    classPicture="duotone col-start-1 row-start-1 col-span-2 row-span-2 group-hover:before:bg-black"
    classImg="group-hover:grayscale-0 group-hover:mix-blend-normal w-[572px] lg:w-[171px] h-[171px] object-cover filter grayscale-100"
  />

  <div class="flex flex-col pl-6">
    <h3 class="uppercase font-medium leading-6">{invites.prenom_invite} <br> {invites.nom_invite}</h3>
    <div>
      <p class="text-[10px]/3 py-5 tracking-[1.5px]">{invites.description_invite}</p>
    </div>
    <a class="text-sm underline decoration-1" href=`invites/${invites.id}`>En savoir plus</a>
  </div>
</div>
